:root {
    --verde: #70EE6C;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body {
    background-color: #D0EDCF;
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;
}
.page {
    width: 500px;
    height: 350px;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2), -10px -10px 10px rgba(173, 173, 173, 0.2);
}
.page h1 {
    font-size: 45px;
    margin: 25px;
    color: var(--verde);
}
.description {
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.binClass {
    width: 175px;
    height: 25px;
}
.decClass {
    height: 25px;
    margin: 15px 0;
}
.btnClass {
    width: 125px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    outline: 0;
    border: none;
    border-radius: 10px;
}